    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        width: 100%;
        min-width: 320px;
        max-width: 640px;
        margin: 0 auto;
        font-size: 14px;
        font-family: -apple-system, Helvetica, sans-serif;
        color: #666;
        line-height: 1.5;
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }
    
    .container {
        width: 100%;
        position: absolute;
    }
    
    ul {
        list-style: none;
    }
    /* 桌布 */
    
    .panel {
        width: 90%;
        border: 10px solid steelblue;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .panel li {
        flex: 25%;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid steelblue;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
    }