* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.contaner {}

ul {
    list-style: none;
}


/* 桌布 */

.panel {
    width: 100%;
    border: 10px solid steelblue;
    border-radius: 10px;
    height: 100vw;
    margin: 10px;
}