body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: black;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: #222222;
}

div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* 搜索模块 */

.search-index {
    /* 固定定位必须有宽度 */
    width: 100%;
    position: fixed;
    left: 50%;
    top: 0;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: flex;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    position: relative;
    flex: 1;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
    color: #666666;
    padding-left: 25px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.search::before {
    content: "";
    position: absolute;
    width: 15px;
    left: 5px;
    top: 5px;
    height: 15px;
    background: url(../images/sprite.png) -59px -279px;
    background-size: 104px auto;
}

.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #2eaae0;
}

.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 4px auto -2px;
}

.focus {
    padding-top: 44px;
}

.focus img {
    width: 100%;
}

.local-nav {
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
    display: flex;
}

.local-nav li {
    flex: 1;
}

.local-nav li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    color: #222222;
}

.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat;
    background-size: 32px auto;
    margin-top: 8px;
}

.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -32px;
}

.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -64px;
}

.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -96px;
}

.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -128px;
}

nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}

.nav-common {
    height: 88px;
    display: flex;
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    line-height: 44px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid white;
}

.nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}

.nav-items:nth-child(-n+2) {
    border-right: 1px solid white;
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}

.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4890ed, #53bced);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}

.subnav-entry {
    border-radius: 8px;
    background-color: white;
    margin: 0 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0 5px;
}

.subnav-entry li {
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-top: 5px;
}

.subnav-entry-icon {
    width: 28px;
    height: 28px;
    background-color: pink;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}

.subnav-entry a span:nth-child(2) {
    margin-top: -2px;
}

.sales-box {
    background-color: white;
    border-top: 1px solid #eee;
    margin: 4px;
}

.sales-hd {
    height: 44px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    top: 8px;
    left: 20px;
    position: absolute;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: white;
}

.more::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}

.row a img {
    width: 100%;
}