body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: black;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    height: 2000px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222222;
}

.search-index {
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    background-color: #f6f6f6;
    position: fixed;
    left: 50%;
    width: 100%;
    top: 0;
    transform: translateX(-50%);  
    -webkit-transform: translateX(-50%);  
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.search {
    height: 26px;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);    
    margin: 7px 10px;
    padding-left: 25px;
}

.search::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) -59px -279px;
    background-size: 104px auto;
}

.search-index a {
    position: relative;
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #2eaae0;
}

.search-index a::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 4px auto -2px;
}

.focus {
    width: 100%;
    padding-top: 44px;
}

.focus img {
    width: 100%;
}

.sub_item {
    background-color: white;
    border-radius: 8px;
    height: 66px;
    margin: 3px 4px;
    display: flex;
}

.sub_item li {
    flex: 1;
}

.sub_item li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #222222;
}

.sub_item li [class^="sub_item_icon"]{
  width: 32px;
  height: 32px;
  background: url(../images/localnav_bg.png) no-repeat;
  background-size: 32px auto;
  margin-top: 8px;
}

.sub_item li .sub_item_icon2 {
    background-position: 0 -32px;
}

.sub_item li .sub_item_icon3 {
    background-position: 0 -64px;
}

.sub_item li .sub_item_icon4 {
    background-position: 0 -96px;
}

.sub_item li .sub_item_icon5 {
    background-position: 0 -128px;
}

.nav_item {
    height: 88px;
    margin: 3px 4px;
    display: flex;
}

.nav_item:nth-child(1) {
    background: -webkit-linear-gradient(left,#fa5b55,#fa984d);
    border-radius: 8px 8px 0 0;
}

.nav_item:nth-child(2) {
    background: -webkit-linear-gradient(left,#4890ed,#53bced);
}

.nav_item:nth-child(3) {
    background: -webkit-linear-gradient(left,#34c2a8,#6bd55a);
    border-radius: 0 0 8px 8px;
}

.nav_items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav_items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
    font-size: 14px;
 }

 .nav_items:nth-child(n+2){
    border-left: 1px solid #fff;
 }

 .nav_items:nth-child(n+2) a:nth-child(1){
     border-bottom: 1px solid #fff;
 }

 .nav_items:nth-child(1) a{
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto
 }

 .classify {
     display: flex;
     flex-wrap: wrap;
     margin: 3px 4px;
     background-color: white;
     border-radius: 8px;
     padding-bottom: 10px;
 }

 .classify li {
     flex: 20%;
 }

 .classify a {
     color: #333;
     font-size: 12px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .classify a [class^="classify_item"]{
     display: block;
     width: 28px;
     height: 28px;
     background: url(../images/subnav-bg.png) no-repeat;
     background-size: 28px;
     margin-top: 10px;
 }

